INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

.DS_Store

Capfile
config/

data/reader/
application/configs/database.ini

library/SimplePie/cache
library/composer/vendor

public_html/resources/sass/.sass-cache/
