
div#STAR-view-feed-Grid table.x-grid-table tbody tr.x-grid-row td.x-grid-cell {
    padding: 7px 0px !important;
}

div#STAR-view-feed-Grid table.x-grid-table tbody tr.x-grid-row {
    cursor: pointer;
}


span.feed-item-read {
    color: #555;
}
