

table.header-title-container tbody tr td#header-title-star-icon {
    padding: 10px 17px;
}


table.header-title-container tbody tr td#header-title-star-text h1 {
    font-size: 3.0em;
    color: #555;
}
