
div#auth-register-container {
    margin: 0 30%;
}



div#auth-register-description {
    padding: 80px 30px;
    text-align: center;
}

div#auth-register-description h1 {
    font-size: 5em;
    font-weight: bold;

    line-height: 40%;

    margin: 10px 0;
}



div.auth-sentence {
    margin: 60px 0px;
    margin-bottom: 40px;
}

div.auth-sentence p {
    font-size: 1.1em;
    margin: 0 0 10px;
}
